<div>
  <label>Message board title = {{(messageBoardService.messageBoard$ | async)?.title}}</label>
</div>



<mat-divider></mat-divider>

<table>
  <td>
    <mat-form-field class="example-full-width">
      <mat-label>User name</mat-label>
      <input matInput>
    </mat-form-field>
  </td>

  <td>
    <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input matInput>
    </mat-form-field>
  </td>


  <td>
    <button  mat-raised-button color="primary">Post</button>
  </td>
</table>